 body {
    font-family: poppinsregular;
    color: #fff;
    background-color: rgb(34, 34, 34);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
 }

 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 #title {
    flex-direction: column;
    line-height: 10px;
 }

 #title h1 {
    font-weight: 200;
 }

 li {
    display: inline-block;
    margin: 20px;
 }

 a {
    color: #fff;
    text-decoration: none;
 }

 a:hover {
    color: rgb(132, 14, 201);
    transition: 0.4s;
 }

 #btm-border {
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
 }

 #btm-border:hover {
    background-color: rgb(132, 14, 201);
    transition: 0.4s;
    color: #fff;
 }

 main {
    display: flex;
    margin: 50px;
 }

 aside h2 {
    font-size: 56px;
    font-family: poppinsmedium;
    max-width: 550px;
 }

 span {
    color: rgb(132, 14, 201);
 }

 aside p {
    font-family: poppinslight;
    line-height: 20px;
    max-width: 500px;
 }

 form {
    display: flex;
    flex-direction: column;
    width: 70%;
 }

 form input {
    margin-top: 10px;
    padding: 15px;
    height: 20px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
 }

 form input[type='submit'] {
    background-color: rgb(132, 14, 201);
    width: 50%;
    height: 50%;
    font-weight: bold;
    cursor: pointer;
 }

 article img {
    width: 580px;
 }